* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "pt sans narrow";
  text-transform: uppercase;
  // user-select: none;
}
body::-webkit-scrollbar {
  width: 0;
}
.container {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  top: 0;
}
.content-box {
  padding: 0 0 70px 0;
  max-width: 1144px;
  margin: auto;
}
header {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: flex;
  align-items: start;
  justify-content: center;
  // max-width: 470px;
  max-width: 100vw;
  margin: auto;
  .logo {
    width: 108px;
    height: 161px;
  }
  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    min-width: 361px;
    height: 138px;
    background-color: #fff;
    opacity: 0.9;
    padding: 0 40px;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 11px;

      img {
        width: 36px;
      }
      p {
        font-size: 18px;
        font-weight: normal;
        color: #333333;
      }
      &.avatar {
        img {
          width: 27px;
        }
      }
      &.cart {
        img {
          width: 23px;
        }
      }
    }
  }
}
footer {
  background: #262626;
  font-size: 15px;
  text-align: center;
  padding: 15px 0;
  width: 100vw;
  text-transform: none;
  color: white;
  font-family: "pt sans";
  position: absolute;
  bottom: 0px;
}
.head {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
  }
}

.content-1,
.content-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;

  margin: auto;
  margin-top: 50px;
  h1 {
    font-size: 32px;
  }
  .techs {
    width: 100%;
    // flex-wrap: nowrap;
    display: -webkit-box;

    overflow-x: auto;
    padding: 10px 0;
    // &::-webkit-scrollbar {
    //   width: 100px;
    //   height: 100px;
    // }
    .tech {
      position: relative;
      min-width: 271px;
      border-radius: 5px;
      height: 144px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &.chosen {
        border: 1px solid #cc2f2f;
        box-shadow: none !important;
      }
      .tech-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-height: 104px;
        img {
          max-width: 170px;
          max-height: 104px;
        }

        p {
          max-width: 100px;
          text-align: center;
          color: #4d4d4d;
          font-size: 20px;
          font-weight: bold;
        }
      }

      //   box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
    }
  }
  .compare {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
    h1 {
      text-transform: none;
      padding: 0 10px;
    }
    // margin: auto;
    .char-table {
      width: 100%;
      display: block;
      overflow-x: auto;
      white-space: normal;
      padding: 10px 0;
      table {
        // white-space:normal;
        max-width: 100%;
        // table-layout: fixed;

        min-width: 860px;
        tr {
          th {
            // padding: 20px 15px;
            position: relative;
            img.compareArrow {
              width: 24px;
              position: absolute;
              right: 10px;
              top: 50%;
              transform: translatey(-50%);
            }
            font-weight: 500;
            font-size: 21px;
            text-transform: none;
            // background-color: #fff;
            color: #333333;
            &.third-col,
            &.forth-col {
              width: 260px;
            }
            .compare-but {
              width: 100%;
            }
            &.choose {
              color: #cc2f2f;
            }
            height: 100%;
            select {
              width: 100%;
              height: 47px;
              outline: none;
              border: none;
              background-color: transparent;
              font-weight: 500;
              font-size: 21px;
              text-transform: none;
              // background-color: #fff;
              background: #f2f2f2;
              appearance: none;
              border-radius: none;
              color: #cc2f2f;
              &:disabled {
                color: #000;
                opacity: 1;
              }
              option {
                text-align: center;
                text-transform: none;
                border-radius: none;
                // background-color: #e1c6c6;
                &:active {
                  background-color: white;
                }
                &:hover {
                  //   box-shadow: 0 0 10px 100px #2c444d inset;

                  background-color: #f2f2f2;
                }
              }
            }
            // &.first-col {
            //   width: 300px !important;
            // }
            // &.second-col {
            //   max-width: 720px !important;
            //   text-align: center;
            // }
            &:first-child {
              width: 300px;
            }
            &:nth-child(2) {
              width: 300px;
              font-weight: bold;
            }
          }
          height: 47px;
          &.grey {
            background-color: #f2f2f2;

            padding: auto;
            td {
              padding: 0;
              &:first-child {
                color: #cc2f2f;
                font-size: 21px;
              }
            }
          }
          td {
            text-transform: none !important;

            height: 47px;
            padding-right: 5px;
            // vertical-align: middle;
            border-top: 1px solid #dddddd;
            font-weight: 300;
            font-size: 17px !important;
            color: #333333;
            width: 260px;
            border-bottom: solid 1px rgba(255, 255, 255, 0.1);
            &:first-child {
              text-align: right;
              width: 300px;
            }
            &:nth-child(2) {
              text-align: center;
              width: 300px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .head {
    display: none;
  }
  .container {
    margin-top: 0 !important;
    header {
      width: 100vw;
      // left: 0;
      position: absolute;
      top: 0;
      transform: translate(-50%, -51px);
      .header-hr {
        display: block !important;
        position: relative;
        z-index: 1;
        hr {
          background-color: #c91a1a;
          height: 3px;
          color: transparent;
          border: none;
          display: block;
          width: 100vw;
          height: 5px;
          position: absolute;
          top: 100px;
        }
      }

      .links {
        max-width: 80vw;
        justify-content: space-between;
        padding: 0 20px;
        gap: 0px;
        height: 98px;
        min-width: 0;
        width: 80vw;
        a {
          div {
            p {
              font-size: 12px;
            }
            img {
              width: 25px;
            }
            &.avatar {
              img {
                width: 21px;
              }
            }
            &.cart {
              img {
                width: 20px;
              }
            }
          }
        }
      }
      .logo-a {
        z-index: 2;
        .logo {
          width: 88px;
          height: 131px;
          // position: absolute;
        }
      }
    }
  }
}
@media screen and (max-width: 720px) {
  .content-1 {
    padding-top: calc(170px - 10vw);
  }
}
