* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "pt sans narrow";
  text-transform: uppercase;
  // user-select: none;
}
body::-webkit-scrollbar {
  width: 0;
}
a {
  text-decoration: none;
  color: unset;
}
.container {
  width: 100vw;
  min-height: 100vh;
  position: relative;
}
.content-box {
  padding: 0 0 70px 0;
  max-width: 1144px;
  margin: auto;
}
header {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: flex;
  align-items: start;
  justify-content: center;
  // max-width: 470px;
  max-width: 100vw;
  margin: auto;
  .logo {
    width: 108px;
    height: 161px;
  }
  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    min-width: 361px;
    height: 138px;
    background-color: #fff;
    opacity: 0.9;
    padding: 0 40px;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 11px;

      img {
        width: 36px;
      }
      p {
        font-size: 18px;
        font-weight: normal;
        color: #333333;
      }
      &.avatar {
        img {
          width: 27px;
        }
      }
      &.cart {
        img {
          width: 23px;
        }
      }
    }
  }
}
footer {
  background: #262626;
  font-size: 15px;
  text-align: center;
  padding: 15px 0;
  width: 100vw;
  text-transform: none;
  color: white;
  font-family: "pt sans";
}
.head {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
  }
}
.form-block {
  margin: 40px 0 70px 0;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .form-head {
    color: #6b6b6b;
    text-transform: none;
    margin-bottom: 23px;
    font-weight: 700;
  }
  form {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;

    .inputs {
      display: flex;
      flex-wrap: wrap;
      max-width: 800px;
      gap: 20px;

      input {
        background-image: url("./images/edit.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-size: 30px 30px;
        background-position: 97%;
        width: 368px;
        min-width: 100px;
        outline: none;
        border-radius: 5px;
        padding: 15px 25px;
        border: 1px solid #999999;
        text-transform: none;
        background-color: #ebebeb;
        border: none;
        position: relative;

        &::placeholder {
          color: black;
        }
      }
    }
    button {
      padding: 0;
      border: none;
      height: 48px;
      border-radius: 10px;
      cursor: pointer;
      img {
        width: 191px;
      }
    }
  }
}
.content-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 45px;
  padding: 0px 20px;
  .block {
    margin: 30px 0 110px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1 {
      font-size: 20px;
      font-weight: bold;
      text-transform: none;
    }
    img.success {
      max-width: 379px;
      margin: 30px 0;
    }
    .orders {
      display: flex;
      gap: 80px;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      position: relative;
      // margin: 0 0 80px 0;

      span.total {
        bottom: -60px;
        right: 100px;
        position: absolute;
        display: flex;
        align-items: center;
        gap: 20px;
        p {
          text-transform: none;
          &:first-child {
            font-weight: normal;
            font-size: 20px;
            color: #505050;
          }
          &:last-child {
            font-weight: normal;
            font-size: 24px;
            font-weight: 700;
          }
        }
      }
      .orders-cover {
        position: relative;
        width: 100%;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        span.order-num {
          text-align: left;
          align-self: flex-start;
          padding: 4px 0;
          text-transform: none;
          font-weight: bold;
          font-size: 20px;
          display: flex;
          gap: 33px;
          .date {
            color: #5e5e5e;
            font-size: 20px;
            text-transform: none;
            font-weight: normal;
          }
        }
        .order-block {
          display: flex;
          align-items: center;
          justify-content: space-between;
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
          width: 100%;
          padding: 20px 25px;
          border-radius: 10px;

          .price {
            font-size: 24px;
            font-weight: 700;
            margin-right: 100px;
          }

          .left {
            display: flex;
            align-items: start;
            justify-content: center;
            gap: 20px;
            img {
              width: 88px;
              height: 85.4px;
              object-fit: contain;
              box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
            }
            .texts {
              padding: 10px 0;
              p {
                &:first-child {
                  font-weight: 700;
                  font-size: 15px;
                }
                &:last-child {
                  font-weight: normal;
                  font-size: 16px;
                  text-transform: none;
                  margin-top: 5px;
                }
              }
            }
          }
          .cubes {
            display: flex;
            gap: 8px;
            span {
              width: 33px;
              height: 33px;
              border-radius: 5px;
              font-size: 20px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: bold;
              border: 1px solid #b0b0b0;
              &.plus,
              &.minus {
                background-color: #d9d9d9;
                font-size: 20px;
                border: none;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
footer {
  position: absolute;
  bottom: 0px;
}
@media screen and (max-width: 480px) {
  .head {
    display: none;
  }

  header {
    width: 100vw;
    // left: 0;
    position: absolute;
    top: 0;
    // transform: translate(-50%, -100%);
    .header-hr {
      display: block !important;
      position: relative;
      z-index: 1;
      hr {
        background-color: #c91a1a;
        height: 3px;
        color: transparent;
        border: none;
        display: block;
        width: 100vw;
        height: 5px;
        position: absolute;
        top: 100px;
      }
    }

    .links {
      max-width: 80vw;
      justify-content: space-between;
      padding: 0 20px;
      gap: 0px;
      height: 98px;
      min-width: 0;
      width: 80vw;
      a {
        div {
          p {
            font-size: 12px;
          }
          img {
            width: 25px;
          }
          &.avatar {
            img {
              width: 21px;
            }
          }
          &.cart {
            img {
              width: 20px;
            }
          }
        }
      }
    }
    .logo-a {
      z-index: 2;
      .logo {
        width: 88px;
        height: 131px;
        // position: absolute;
      }
    }
  }
}
@media screen and (max-width: 720px) {
  .content-1 {
    padding-top: calc(170px - 10vw);
    img {
      max-width: 360px;
    }
    .prices {
      flex-direction: column;
      .tape {
        position: static;
      }
    }
    .mobile-name {
      display: inline;
    }
    .blocks {
      .order-block {
        flex-direction: column;
        width: auto;
      }
    }
  }
}
@media screen and (max-width: 836px) {
  .content-1 .block .orders .orders-cover .order-block .price {
    margin-right: 0px;
  }
  .form-block {
    padding: 0 5px;
    form {
      .inputs {
        align-items: center;
        flex-direction: column;
        input {
          max-width: 70vw;
        }
      }
    }
  }
  .content-1 .block .orders span.total {
    right: 5px;
  }
  .content-1 .block .orders .orders-cover .order-block {
    padding: 2vw;
    .left {
      gap: 5px;
    }
  }
}
